.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100001;
  width: 12vw;
  height: 12vw;
}

@media (max-width: 768px) {
  .loading-spinner {
    width: 32vw;
    height: 32vw;
  }
}
